/* FUENTES */

@font-face {
    font-family: "WebSymbolsRegular";
    src: url('../fonts/websymbols-regular-webfont.eot');
    src: url('../fonts/websymbols-regular-webfont.eot?#iefix') format('embedded'),
        url('../fonts/websymbols-regular-webfont.woff') format('woff'),
        url('../fonts/websymbols-regular-webfont.ttf') format('truetype'),
        url('../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* ESTILOS GENERALES */
* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


/* INICIO */
header {
    min-width: 1024px;
    width: 100%;
    height: 75px;
    background: white;
    margin-top: 0px;
    padding: 0px;
    border-bottom: 1px solid gray;
    top: 0px;
    position: fixed;

}



#titulo {
    height: 5px;
    font-size: 20px;
    padding: 0px;
    float: left;
    margin-left: 10%;
    margin-top: 20px;
    color: rgb(15, 21, 21);
    text-shadow: 2px 2px 1px solid black;
}

#titulo a {
    text-decoration: none;
    color: black;
}

#titulo a:hover {
    text-shadow: 2px 2px 2px #ccc;
}

#menu {
    float: right;
    margin-right: 10%;
    height: 70%;
}

#menu ul li {
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    margin: 25px 35px 0px 20px;

}

#menu ul li a {
    display: block;
    text-decoration: none;
    color: black;
    transition: all 300ms;

}

#menu ul li a:hover {
    color: black;
    transform: scale(1.2, 1.2);
}

#videos{
    padding: 50px;
    margin-top: 20px;
}


#videos video{
    margin-top: 30px;
    padding: 50px;
}

#fotos{
    padding: 50px;
    margin-top: 100px;
}


#fotos img{
    padding: 50px;
}

/* FOOTER */

footer{
    background: black;
    display: block;
    height: 89px;
    
}

.redes-sociales{
    font-size: 52px;
    float: right;
    margin: 6px 50px 0px 0px;
   
}


.redes-sociales #youtube {
    text-decoration: none;
    font-family: "WebSymbolsRegular";
    color: red;
    margin: auto;
    padding: 50px;
}

.redes-sociales #facebook {
    text-decoration: none;
    font-family: "WebSymbolsRegular";
    color: blue;
    margin: auto;
    padding: 50px;
}

.redes-sociales #correo {
    text-decoration: none;
    font-family: "WebSymbolsRegular";
    color: white;
    margin: auto;
    padding: 50px;
}


#lenguaje img{
    display: block;
    width: 17%;
    margin-top: 0%;
    margin-left: 6%;
  }